html, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Quattrocento', serif;
}

/* tooltip text that appears in a gallery on hovering over an image */
.figcaption-tooltip {
  position: absolute;
  bottom: 0.5em;
  left: 4px;
  width: calc(100% - 8px);
  text-align: center;
}

/* tooltip for description of album, to be displayed when text is longer than ~1 line */
.albumsummary-tooltip {
  position: absolute;
  left: 0;
  bottom: 1.5em;
}

.header-text {
  letter-spacing: 2pt;
  text-shadow: 1px 1px 0 #444;
}

.navbar {
  width: initial;
  bottom: -16px;
}

.padding-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.padding-tiny {
  padding: 2px 4px;
}

.margin-0 {
  margin: 0;
}

.resp-listitem-w-image {
  display: inline-block;
  width: 100%;
}

form.search button {
  display: none;
}

input.search {
  width: "30%";
  float: right;
}

.breadcrumbs {
  clear: both;
}
  .breadcrumbs span:after {
    content: ">";
    color: #999;
    padding-left: 0.5em;
    padding-right: 0.25em;
  }
